table.rounded-corners {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid #BBB;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
   }
   
   /* Apply a border to the right of all but the last column */
   table.rounded-corners th:not(:last-child),
   table.rounded-corners td:not(:last-child) {
    border-right: 1px solid #BBB;
   }
   
   /* Apply a border to the bottom of all but the last row */
   table.rounded-corners thead tr th, table.rounded-corners tbody tr:not(:last-child) td {
    border-bottom: 1px solid #BBB;
   }

   table.rounded-corners thead {
    background-color: #eee;
    text-align: center;
   }

   table.rounded-corners th, td {
    padding: 20px;
   }

   table.rounded-corners p {
    margin: 0;
   }

.blog p {
    line-height: 45px;
}

.quote {
    background: #BED8FC;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

hr {
    border: 2px solid #EEE;
    margin: 50px;
}

.quote .quote-bar {
    background: #0147AA;
    width: 5px;
    height: 100%;
    min-height: 10px;
    align-self: stretch;
    position: absolute;
    left: 0px;
    top: 0px;
}